/* Default Light Mode */
body[data-theme="light"] {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark Mode */
  body[data-theme="dark"] {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* Bootstrap Dark Mode Override */
  .navbar-dark {
    background-color: #333 !important;
  }
  
  .navbar-light {
    background-color: #f8f9fa !important;
  }
  [data-theme="dark"] .modal-content {
    background-color: #333;
    color: white;
  }
  
  [data-theme="light"] .modal-content {
    background-color: white;
    color: black;
  }

  .loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Change the color of the accordion arrow to white */
.accordion-button::after {
  filter: invert(1) brightness(200%);
}

/* Keep arrow white even when expanded */
.accordion-button:not(.collapsed)::after {
  filter: invert(1) brightness(200%);
}

.dropdown-list {
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: white;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0;
}

.mt-6 {
  margin-top: 5rem !important;
}

.cursor-pointer {
  cursor: pointer;
}



  
  
  